---
import EntryRedirect from '../components/EntryRedirect.astro';
import ProjectButton from '../components/ProjectButton.astro';
import TeamMember from '../components/TeamMember.astro';
import Atlas2017Logo from '../assets/atlas-2017.png'
import PAILogoComponent from '../components/PAILogo.astro'
import Favicon from '../components/Favicon.astro'
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<Favicon></Favicon>
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#222">

		<meta name="generator" content={Astro.generator} />

		<title>Place Atlas Initiative</title>
		<meta name="description" content="Place Atlas Initiative is a group that hosts the r/place Atlas projects and others.">
		<meta name="author" content="Place Atlas Initiative">
		<meta name="robots" content="index, follow">
		
		<meta property="og:title" content="Place Atlas Intitative">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://place-atlas.stefanocoding.me/">
		<meta property="og:image" content="https://place-atlas.stefanocoding.me/src/logo.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="512">
		<meta property="og:image:height" content="512">
		<meta property="og:image:alt" content="Place Atlas Intiative logo">
		<meta property="og:description" content="Place Atlas Initiative is a group that hosts the r/place Atlas projects and others.">
	</head>
	<body class="dark:bg-gray-900 dark:text-white">
		<EntryRedirect></EntryRedirect>
		<main class="container mx-auto grid grid-cols-12 my-4 lg:gap-8">
			<div class="col-span-12 lg:col-span-3 mb-4 lg:mb-0">
				<div class="flex flex-row lg:flex-col items-center gap-4">
					<PAILogoComponent class="mb-4 h-32 w-32 lg:w-full lg:h-full"></PAILogoComponent>
					<div class="flex flex-col gap-2 lg:gap-4">
						<h1 class="text-5xl font-bold">Place Atlas Initiative</h1>
						<p class="text-gray-500">The atlas never completes...</p>
						<p class="flex gap-1">
							<a class="text-gray-500 hover:text-black active:text-black dark:active:text-white dark:hover:text-white" href="#" target="_blank">
								<Icon name="simple-icons:discord" class="w-8 h-8"></Icon>
							</a>
							<a class="text-gray-500 hover:text-black active:text-black dark:active:text-white dark:hover:text-white" href="#" target="_blank">
								<Icon name="simple-icons:github" class="w-8 h-8"></Icon>
							</a>
							<a class="text-gray-500 hover:text-black active:text-black dark:active:text-white dark:hover:text-white" href="#" target="_blank">
								<Icon name="simple-icons:reddit" class="w-8 h-8"></Icon>
							</a>
						</p>		
					</div>
				</div>
			</div>
			<div class="col-span-12 lg:col-span-9">
				<p class="mb-4">Place Atlas Initiative is a group that hosts the r/place Atlas projects and others. It has a goal to archive and document the knowledge regarding the r/place event, hosted by Reddit.</p>
				<p class="mb-4">The initiative is open all contributions from all over the world, with open source as the main spirit of the projects.</p>
				<section id="projects" class="mb-4">
					<h2 class="text-4xl font-semibold mb-4">Projects</h2>
					<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-4">
						<ProjectButton href="https://2017.place-atlas.stefanocoding.me/" target="_blank">
							<p>The 2017 r/place Atlas</p>
							<p>(continued)</p>
						</ProjectButton>
						<ProjectButton href="https://2022.place-atlas.stefanocoding.me/" target="_blank">
							<div class="flex flex-row h-full items-center gap-2">
								<PAILogoComponent class="h-12 w-12"></PAILogoComponent>
								<p>The 2022 r/place Atlas</p>
							</div>
						</ProjectButton>
						<ProjectButton href="https://2023.place-atlas.stefanocoding.me/" target="_blank">
							<div class="flex flex-row h-full items-center gap-2">
								<PAILogoComponent class="h-12 w-12"></PAILogoComponent>
								<p>The 2023 r/place Atlas</p>
							</div>
						</ProjectButton>
						<ProjectButton href="https://place-wiki.stefanocoding.me/" target="_blank">
							<p>The r/place Wiki</p>
						</ProjectButton>
					</div>		
				</section>
				<section id="affiliated" class="mb-4">
					<h2 class="text-2xl font-semibold mb-4">Affiliated Projects</h2>
					<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-4">
						<ProjectButton href="https://draemm.li/various/place-atlas/" target="_blank">
							<div class="flex flex-row h-full items-center gap-2">
								<Image src={ Atlas2017Logo } alt="The r/place Atlas logo" class="h-12 w-12"></Image>
								<div>
									<p>The 2017 r/place Atlas</p>
									<p>(old)</p>
								</div>
							</div>
							
						</ProjectButton>
						<ProjectButton href="https://www.reddit.com/r/thefinalclean/" target="_blank">
							<div class="flex flex-row h-full items-center gap-2">
								<Image src="https://cdn.discordapp.com/icons/298563322041860096/32d2bf32a102b923c481007a70736c5c.webp" width="256" height="256" alt="The r/place Atlas logo" class="h-12 w-12"></Image>
								<div>
									<p>The Final Clean</p>
								</div>
							</div>
						</ProjectButton>
						<ProjectButton href="https://hans5958.github.io/place-catalog" target="_blank">
							<div class="flex flex-row h-full items-center gap-2">
								<p>The 2022 r/place Catalog</p>
							</div>
						</ProjectButton>
					</div>		
				</section>
				<section id="team" class="mb-4">
					<h2 class="text-4xl font-semibold mb-4">Team</h2>
					<section id="project-leader" class="mb-4">
						<h3 class="text-2xl font-semibold mb-4">Project Leader</h3>
						<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-3">
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/25939526'
								name='TCOOfficiall'
								altName='Stefano Haagmans'
								websiteHref='https://stefanocoding.me/'
								redditHref='https://reddit.com/user/TCOOfficiall'
								githubHref='https://github.com/Codixer'
							></TeamMember>
						</div>
					</section>
					<section id="archival-team" class="mb-4">
						<h3 class="text-2xl font-semibold mb-4">Archival Team</h3>
						<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-3">
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/18347932'
								name='tycho'
								altName='electric-blue'
								websiteHref=''
								redditHref='https://reddit.com/user/electric-blue'
								githubHref='https://github.com/ab-gh'
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/24706838'
								name='Nick12'
								altName='Nico Abram'
								websiteHref=''
								redditHref=''
								githubHref='https://github.com/nico-abram'
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/290205761425113091/3666ac1fed504a831b2e132a28f9566e'
								name='m654zy'
								altName=''
								websiteHref=''
								redditHref='https://reddit.com/user/m654zy'
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/6516839'
								name='AnonymousRandPerson'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref='https://github.com/AnonymousRandomPerson'
							></TeamMember>
						</div>

					</section>
					<section id="development-team" class="mb-4">
						<h3 class="text-2xl font-semibold mb-4">Development Team</h3>
						<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-3">
							<TeamMember 
								avatarSrc='https://avatars.githubusercontent.com/u/11584103'
								name='Hans5958'
								altName='Hans5958_'
								websiteHref='https://hans5958.github.io'
								redditHref='https://reddit.com/u/Hans5958_'
								githubHref='https://github.com/Hans5958'
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/26527928'
								name='prosto_sanja'
								altName='Alex Tsernoh'
								websiteHref='https://place.thatguyalex.com/'
								redditHref=''
								githubHref='https://github.com/ProstoSanja'
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/32040254'
								name='mxdanger'
								altName=''
								websiteHref=''
								redditHref='https://reddit.com/user/mxdanger'
								githubHref='https://github.com/mxdanger'
							></TeamMember>
						</div>

					</section>
					<section id="wiki-team" class="mb-4">
						<h3 class="text-2xl font-semibold mb-4">Wiki Team</h3>
						<div class="col-span-9 grid sm:grid-cols-2 lg:grid-cols-3">
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/65846594'
								name='Aeywoo'
								altName='xXLInkster17Xx'
								websiteHref=''
								redditHref='https://reddit.com/user/xXLInkster17Xx'
								githubHref='https://github.com/Aeywoo'
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/24706838'
								name='Nick12'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref='https://github.com/nico-abram'
							></TeamMember>
							<TeamMember
								avatarSrc=''
								name='pax'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/8906201'
								name='Artillect'
								altName=''
								websiteHref='https://twitter.com/ArtillectYT'
								redditHref='https://reddit.com/user/Artillect'
								githubHref='https://github.com/artillect'
							></TeamMember>
							<TeamMember
								avatarSrc=''
								name='axollyon'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/38139192'
								name='Crzka'
								altName='Cappy Ishihara'
								websiteHref=''
								redditHref=''
								githubHref='https://github.com/korewaChino'
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/707355480422350848/091859008fc642d3dc2cf1c8ca2f4850'
								name='CodeDev'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/519224574886412288/5fbc50c86a0163d3764b2de113770439'
								name='dntk'
								altName='treeway7'
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/339185742292975616/31e221e71cf09ed2c3f905aa7e26f7ca'
								name='Eurobat'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								name='FuriousChocolate'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/191920517215813633/56f92b7fdfec52f006e4592a8961fdf0'
								name='geekahedron'
								altName=''
								websiteHref=''
								redditHref='https://reddit.com/user/geekahedron'
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc=''
								name='samurai_crusader'
								altName='Jim Milton'
								websiteHref=''
								redditHref='https://cdn.discordapp.com/avatars/708919552481689640/e0211898ea24b8b3ac904cf65711a44a?size=1024'
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/423152878409089025/cfd67403a18865cd22e6b87815863120'
								name='Noah'
								altName='NoahS04'
								websiteHref=''
								redditHref='https://reddit.com/user/red__flag_'
								githubHref='https://github.com/NoahS04'
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/159826404077338624/5450c38ab9021cbc591c9618e9932f3d'
								name='Saya'
								altName='sayaduck'
								websiteHref='https://twitch.tv/bestieinslot'
								redditHref='https://www.reddit.com/user/sayaduck'
								githubHref=''
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/82996946'
								name='Sodapone'
								altName=''
								websiteHref='https://twitter.com/sodapone'
								redditHref='https://reddit.com/user/sodapone'
								githubHref='https://github.com/Sodapone'
							></TeamMember>
							<TeamMember
								avatarSrc='https://avatars.githubusercontent.com/u/66711677'
								name='dreamingkills'
								altName='tea'
								websiteHref=''
								redditHref=''
								githubHref='https://github.com/dreamingkills'
							></TeamMember>
							<TeamMember
								avatarSrc='https://cdn.discordapp.com/avatars/423585363265585162/217bd30f3965f44118edb85d60a26293'
								name='Zurke'
								altName=''
								websiteHref=''
								redditHref=''
								githubHref=''
							></TeamMember>
	
						</div>
					</section>
				</section>
			</div>
		</main>
	</body>
</html>

<script>
	import "@fontsource/open-sans";
	import "@fontsource/open-sans/600.css";
	import "@fontsource/open-sans/700.css";
</script>

<style>
	body {
		font-family: "Open Sans";
	}
</style>