---
---
<div class="container mx-auto my-4 p-4 rounded border border-gray-300 dark:border-gray-600 hidden" id="entry-redirect">
	<p>Redirecting...</p>
</div>

<script is:inline>
	const displayEl = document.querySelector('#entry-redirect')
	const explanationEl = displayEl.querySelector('p')

	const attemptRedirect = async location => {
		location = new URL(location)

		if (!location.hash && (!location.searchParams.has('id') && !location.searchParams.has('mode'))) return
		try {
			if (document.getElementById(location.hash.substring(1))) return
		} catch (e) {}

		displayEl.classList.remove('hidden')
		explanationEl.textContent = `Redirecting in 3 seconds...`
		const newLocation = new URL(location)
		newLocation.host = '2022.place-atlas.stefanocoding.me:443'
		setTimeout(() => {
			document.location.replace(newLocation)
		}, 3000)
	}
	
	document.readyState !== "loading" ? attemptRedirect(document.location) : document.addEventListener("DOMContentLoaded", () => attemptRedirect(document.location))
</script>